
.container {
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}

.month-header {
  color: orange;
}

.calendar {
  font-family: "Calibri Light";
  color: black;
  width: 22.5rem;
  background-color: white;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  height: 1.5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  text-align: center;
}

.month i {
  font-size: 0.5rem;
  cursor: pointer;
}

.month h1 {
  font-size: 0.5rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.month p {
  font-size: 0.8rem;
}

.weekdays {
  width: 100%;
  height: 2.5rem;
  padding: 0 0.2rem;
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  width: calc(22.1rem / 7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0.1rem;
}

.days div {
  font-size: 0.7rem;
  margin: 0.15rem;
  width: calc(20.1rem / 7);
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s;
}

.days div:hover:not(.today) {
  background-color: #ffb35c;
  border: 0.1rem solid #777;
  cursor: pointer;
}

.prev-date,
.next-date {
  opacity: 0.5;
}

.today {
  background-color: #ff6a00;
}
