.map-image {
  height: 200px;
  width: 100%;
}

.map-image-wrapper {
  text-align: center;
}

.map-text-wrapper {
  position: relative;
}

.scs-bottom-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media all and (max-width: 800px) {
  .scs-bottom-row {
    flex-flow: column nowrap;
  }
}

.map-text-wrapper img {
  position: absolute;
  height: 150px;
  width: 150px;
  right: 0;
  bottom: 0;
}

.map {
  margin-top: 80px;
  font-family: "Calibri Light";
  padding: 5px;
  flex-basis: 40%;
  background-color: white;
}
