@use "node_modules/@material/theme" with (
  $primary: #ff9900,
  $secondary: #feeae6,
  $on-primary: #442b2d,
  $on-secondary: #442b2d,
);

@use "css/header";
@use "css/image-scroller";
@use "css/chart";
@use "css/login";

body {
  background-color: #e9eef2;
}
